<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>注册页面</h1>
    <input type="text" placeholder="用户名" v-model="user.username">
    <input type="text" placeholder="密码" v-model="user.password">
    <input type="text" placeholder="昵称" v-model="user.nickname">
    <input type="button" value="注册" @click="reg()">
</div>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!--引入Axios框架-->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            user:{username:"",password:"",nickname:""}
        },
        methods:{
            reg(){
                //发出异步请求  发出post请求
                axios.post("/v1/users/reg",v.user).then(function (response) {
                 //当服务器响应之后会执行这里的代码  response对象中包含服务器响应的数据
                    //response.data表示服务器响应的数据JsonResult
                    if (response.data.code==1){
                        alert("注册成功!");
                        location.href="/";/*跳转到首页*/
                    }else{
                        alert("用户名已存在!");
                    }
                })
            }
        }
    })
</script>
</body>
</html>